$red: #a12525;
$grey: #ccc;
$white: #fff;
$black: #000;
$boxShadow: 2px 3px 3px;

header {
  box-shadow: $boxShadow $grey;
  padding: 1rem 5%;

  .anticon {
    font-size: 2rem;
  }

  .__main_header {
    display: flex;
    align-items: center;
    color: $red;
  }

  .info {
    color: $red;
    font-weight: bold;
    font-size: 1.3rem;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    width: 8rem;
  }
}

ul,
ol {
  cursor: pointer;
}

.left-side {
  display: flex;
  flex-direction: column;

  .list {
    padding: 2rem 10%;
    line-height: 2.8rem;

    div {
      font-size: 1.2rem;
      font-weight: bold;
      padding: 5px;
      margin-bottom: 0.5rem;
      height: 50px;
      overflow: hidden;
      text-overflow: ellipsis !important;

      &:hover {
        background-color: $red;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        color: $white;
        transition: 3s background-color;
        box-shadow: $boxShadow $grey;
        cursor: pointer;
        overflow: hidden;
      height: 50px;
      text-overflow: ellipsis !important;
      }
    }
  }
}

.active {
  background-color: $red;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  color: $white;
  transition: 3s background-color;
  box-shadow: $boxShadow $grey;
  cursor: pointer;
}

.right-side {
  padding: 2rem 5%;

  .info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .anticon {
      font-size: 2rem !important;
    }
  }
}

.ant-modal-close-x {
  svg {
    font-size: 1.2rem;
  }
}

.ant-modal-body {
  line-height: 3.5;

  svg {
    font-size: 1rem;
  }
}

.ant-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .anticon {
    font-size: 1rem !important;
  }

  svg {
    font-size: 1rem;
  }
}

.buttons {
  button:nth-child(1) {
    margin-right: 1rem;
  }

  button:hover {
    background-color: $black;
    color: $white;
    transition: 2s background-color linear;
    border: none;
    outline: none;
  }
}
