$red: #a12525;
$grey: #ccc;
$white: #fff;
$black: #000;
$boxShadow: 2px 3px 3px;

header {
  box-shadow: $boxShadow $grey;
  padding: 1rem 5%;

  .anticon {
    font-size: 2rem;
  }

  .__main_header {
    display: flex;
    align-items: center;
    color: $red;
  }

  .info {
    color: $red;
    font-weight: bold;
    font-size: 1.3rem;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    width: 8rem;
  }
}

ul,
ol {
  cursor: pointer;
}

.left-side {
  display: flex;
  flex-direction: column;

  .list {
    padding: 2rem 10%;
    line-height: 2.8rem;

    div {
      font-size: 1.2rem;
      font-weight: bold;
      padding: 5px;
      margin-bottom: 0.5rem;
      height: 50px;
      overflow: hidden;
      text-overflow: ellipsis !important;

      &:hover {
        background-color: $red;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        color: $white;
        transition: 3s background-color;
        box-shadow: $boxShadow $grey;
        cursor: pointer;
        overflow: hidden;
        height: 50px;
        text-overflow: ellipsis !important;
      }
    }
  }
}

.active {
  background-color: $red;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  color: $white;
  transition: 3s background-color;
  box-shadow: $boxShadow $grey;
  cursor: pointer;
}

.right-side {
  padding: 2rem 5%;

  .info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .anticon {
      font-size: 2rem !important;

      &:hover {
        color: $red;
        transition: 0.3s color linear;
        cursor: pointer;
      }
    }
  }
}

.ant-modal-close-x {
  svg {
    font-size: 1.2rem;
  }
}

.ant-modal-body {
  .mt-1 {
    margin: 1rem 0 !important;
  }

  svg {
    font-size: 1rem;
  }
}

.ant-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .anticon {
    font-size: 1rem !important;
  }

  svg {
    font-size: 1rem;
  }
}

.btn {
  margin-right: 1rem;

  &.btn-dark {
    background: $black !important;
    color: $white !important;
    border: none;
    outline: none;
  }

  &:hover {
    background: $red !important;
    color: $white !important;
    transition: 0.5s background-color linear;
    border: none;
    outline: none;
  }
}

.text {
  &.text-1 {
    font-weight: bold;
    font-size: 2rem;
  }

  &.text-2 {
    font-weight: bold;
    font-size: 1rem;
  }
}

.ant-modal-title {
  font-weight: bold !important;
  font-size: 1.5rem !important;
}

@media (max-width: 575.98px) {
  header {
    padding: 1rem 10%;
  }

  .right-side {
    padding: 2rem 10%;
  }

  .text {
    &.text-1 {
      font-weight: bold;
      font-size: 1.4rem;
    }

    &.text-2 {
      font-weight: bold;
      font-size: 1rem;
    }
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;

  .not-found {
    padding: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 15px #ccc;
    background: #fff;
    margin-top: 35vh;
  }
}


@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}

@media (min-height: 1366px) {}